# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [6]:
number=15
print(number)

15

##### Assinging float

In [8]:
numberFloat=2.97
print(numberFloat)
numberFloat=7.2
print(numberFloat)

2.97
7.2

#### Performing Calculations on ints and floats

##### Addition

In [21]:
num1=2
num2=5.9

result= num1+num2

result +=4
print(result)

11.9

##### Subtraction

In [47]:
result_diff= num2-num1 
print(result_diff)

3.9000000000000004

##### Multiplication

In [51]:
result_mult= num1 * num2
print(result_mult)

result_mult*=2
print(result_mult)

11.8
23.6

##### Division

In [54]:
result_div= num2/num1
print(result_div)

result_div /=2
print(result_div)

2.95
1.475

##### Floor Division

In [56]:
result_floor =num2 // num1 
print(result_floor)

result_floor //=2
print(result_floor)

2.0
1.0

##### Modulo

In [57]:
result_mod = num2 % num1

print(result_mod)

1.9000000000000004

##### Exponential

In [58]:
sqaure= 5**2
print(sqaure)

25

### String Input-Output

##### String Assignment

In [67]:
name= "bob"
print(name)

bob

##### print() <br>
<p>Don't forget about end=' '</p>

In [78]:
print ("This is a string:",name.title())
print("full name:", name, end=" johson")

This is a string: Bob
full name: bob johson

##### String Concatenation

In [84]:
first_name="john"
last_name="smith"

full_name= first_name+ " " + last_name
print(full_name.title())

full_name += " " + "Jr."
print(full_name)

John Smith
john smith Jr.

##### Type Conversion

In [88]:
number= "32"

change_type_num= int(number)

print(change_type_num + 5)

37

##### input()

In [10]:
name= input("what is the answer to this?")
print(name)

phil

##### format()

In [11]:
age= input("whats your age?")
stringer="you are {} {} and youre getting wiser"  .format(age,name)
print(stringer)

you are 775 phil and youre getting wiser

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [12]:
color=input("what color is your car?")
year=input("what year was your car made?")
make=input("who makes your car?")
model=input("whats the model of your car?")

results_car= f"your car is {color}, was made in {year}, by {make} and is the model {model}"
print(results_car)

your car is blue, was made in 1997, by hyundai and is the model accent

### If Statements

In [16]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F



num1=500
num2=50

# if num1==num2:
#     print("they are equals")
# else:
#     print("theyre not equals")


if num2>num1:
    print("num2 in greater")
elif num1>num2:
    print("num1 is greater")
else:
    print("equal values")

num1 is greater

##### 'is' keyword

In [18]:
# python prefers you just use == instead of is 

# example: 

num4=55
if num4 is 55:
    print("word")

    # just do this instead

if num4 == 55:
    print("word")

word

<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/w0/14b0tq9d57b137d7ymq5p9ym0000gn/T/ipykernel_11768/876593231.py:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num4 is 55:

##### 'in' keyword

In [24]:
# this will check if a character is in a string

athlete= "michael jordan"

if "jordan" in athlete:
    print("yes it is in the the string")

yes it is in the the string

##### 'not in' keyword'

In [29]:
video_game="sonic"

if "z" not in video_game:
    print("its not in the string dude")

its not in the string dude

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [42]:
name_check=input("whats your name?")

if "p" in name_check.lower():
    print("has a p")
else:
    print("no p")

no p

## Using 'and'/'or' with If Statements

In [50]:
num1=10
num2=5

if num1==10 or num2==5:
    print("true")

### Elif Statements

In [54]:
first_namer=input("whats your name")

if first_namer=="smith":
    print("first name is smith")
elif first_namer=="brandon":
    print("the name is brandon")
elif first_namer != "max":
    print("name isnt max")
else:
    print("the names max")

name isnt max

### Else Statements

In [ ]:
# see above

### For Loops

In [55]:
# syntax: for counter in condition

name="bob smith"

for letter in name:
    print(letter)

b
o
b

s
m
i
t
h

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [62]:
for i in range(20):
    if i == "i":
        continue
    print(i)

b
o
b

s
m
t
h

##### Break Statement

In [ ]:
# will break out of current loop

In [94]:
for i in range(1,20):
    if i==5:
        break
    print(i)

1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass

##### Double For Loops

In [95]:
for i in range(5):
    for j in range(5):
        print("i=",i,"j=",j)
        print

i= 0 j= 0
i= 0 j= 1
i= 0 j= 2
i= 0 j= 3
i= 0 j= 4
i= 1 j= 0
i= 1 j= 1
i= 1 j= 2
i= 1 j= 3
i= 1 j= 4
i= 2 j= 0
i= 2 j= 1
i= 2 j= 2
i= 2 j= 3
i= 2 j= 4
i= 3 j= 0
i= 3 j= 1
i= 3 j= 2
i= 3 j= 3
i= 3 j= 4
i= 4 j= 0
i= 4 j= 1
i= 4 j= 2
i= 4 j= 3
i= 4 j= 4

### While Loops

In [96]:
#syntax while keybword, condition statement

num=0

while num < 10:
    print(num)
    num+=1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [97]:
game_over=False

while True:
    print("infinite loop")
    if game_over==False:
        break

infinite loop

##### While & For Loops Used Together

In [104]:
num=0

while num < 5:
    print("\n While loop iteration:" + str(num))

    for i in range(2):
        print(" for loop iteration:", str(i))

    num+=1

 While loop iteration:0
 for loop iteration: 0
 for loop iteration: 1

 While loop iteration:1
 for loop iteration: 0
 for loop iteration: 1

 While loop iteration:2
 for loop iteration: 0
 for loop iteration: 1

 While loop iteration:3
 for loop iteration: 0
 for loop iteration: 1

 While loop iteration:4
 for loop iteration: 0
 for loop iteration: 1

### Built-In Functions

##### range()

In [108]:
# range, start, stop,step

for i in range(1,20,2):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### len()

In [109]:
name= "peter"

length= len(name)
print(length)

5

##### help()

In [110]:
# use this to view more info about a pyton function

help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [114]:
# check a variable to find out what object family or data type it belongs to 
#isinstance(var,type)

print(isinstance(4.5,float))

True

##### abs()

In [116]:
# how far away is a number from zero 
abs(-126)

126

### Try and Except

In [3]:
# use this to log out gracefuful and useful error message
#does not stop the program 

try:
    number_test = 0
    input_num=int(input("guess a number"))
    print("your number is: " + str(input_num))
except:
    print("that didnt work")

that didnt work

### Lists

##### Declaring Lists

In [25]:
list_1= []

names= ["max","cindy","bob","nate","Kathy"]

print(names)

['max', 'cindy', 'bob', 'nate', 'Kathy']

##### Indexing a List

In [11]:
#list_name[start:stop:step]
#single index

print(names[0:3])

['max', 'cindy', 'bob']

##### .append()

In [13]:
names.append("farts")
print(names)

['max', 'cindy', 'bob', 'nate', 'Kathy', 'farts', 'farts']

##### .insert()

In [14]:
names.insert(3,"paul")
print(names)

['max', 'cindy', 'bob', 'paul', 'nate', 'Kathy', 'farts', 'farts']

##### .pop()

In [22]:
#defaults to the last value if no parameter is given 
#pop returns the element that was removed in case you want to assign it to a variable 


my_name=names.pop(2)
print(my_name)
print(names)

bob
['max', 'cindy', 'nate', 'Kathy']


##### .remove()

In [26]:
# value to be removed rather than the index number 

names.remove("nate")
print(names)

['max', 'cindy', 'bob', 'Kathy']

##### del()

In [27]:
# goes by index rather than value 

del(names[1])
print(names)

['max', 'bob', 'Kathy']

##### Concatenating Two Lists

In [35]:
#will append two lists together, will NOT add the values


list_2=[0,1,2]
list_3=[3,4,5]

large_list=list_2+list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:

#lists can hold any type of data including other lists 
#they can go as deep as you want, this is called nested lists 

names=["max","bob","phil",["sally","mary","jill"]]
print(names[3][1])

##### Looping Through Lists

In [41]:
#two ways to loop through a list one is by index; the other is by using the 'in' keyword 

#by index

for i in range(len(names)):
    print(names[i])


#loop with in
for i in names:
    print(i)

max
bob
phil
['sally', 'mary', 'jill']
max
bob
phil
['sally', 'mary', 'jill']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [48]:
# i need to create a list of numbers 
num_list= range(15)
# i need each number to be multiplied to the third power 
for i in num_list:
    cubed= i**3
    if cubed>=1001:
        break
    print(cubed)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [146]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for num in range(2,100):
   
    for i in range (2, num):
        if (num % i) == 0:
            break
    else:
        print (num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [149]:
question=input("What is your age?")
age=int(question)

if age<18:
    print("kids")
elif age>=18 and age<66:
    print("adults")
else:
    print("seniors")

seniors